html {
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}


h1 {
    color: white;
    size: 20px;
    margin-bottom: 0px;
}

.wd-left-padding {
    padding-left: 16px;
}

.wd-right-padding {
    padding-right: 16px;
}

.wd-muted {
    color: lightgray;
    size: 13px;
}

.wd-author-handle {
    size: 15px
}

.wd-image-subtext {
    width: 502px;
    padding-top: 0px;
}

.wd-border-below {
    border-top: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    padding-bottom: 12px;
}

.wd-border-around {
    border: 1px;
}

.wd-solid-grey-border {
    border-color: grey;
    border-style: solid;
}

.wd-float-right {
    float: right;
    width: 90%;
}

.wd-float-left {
    float: left;
}

.wd-float-done {
    clear: both;
}

.wd-rounded-top {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.wd-rounded-bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}